<div>
  <h3> Novo Usuário </h3>
</div>
<form>
    <mat-form-field style="margin-top: 10px">
      <input matInput placeholder="Nome" name="first_name" [(ngModel)]="usuario.first_name" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sobrenome" name="last_name" [(ngModel)]="usuario.last_name" type="text">
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" style="background-color: #a53041; color: white" (click)="salvar()">Salvar</button>
        <button mat-raised-button color="primary" style="background-color: #a53041; color: white" (click)="closed()">Fechar</button>
    </div>
</form>