.example-card {
  max-width: 600px;
}
.img-avatar {
  border-radius: 26px;
  margin-right: 185px;
}
.bnt-new-user{
  margin-left: 75%; 
  min-width: 55px;
  background-color: #616060;
}
.example-header-image {
  background-image: url('http://sinn.com.br/img/logo1-default.png');
  background-size: cover;
}
